@import '@fontsource/fira-mono';

html {
	scroll-behavior: smooth;
}

@font-face {
	font-family: 'Inter';
	src: url('../lib/Inter-Regular.woff');
}

@font-face {
	font-family: 'Inter-Bold';
	src: url('../lib/Inter-Bold.woff');
}

@font-face {
	font-family: 'Inter-Medium';
	src: url('../lib/Inter-Medium.woff');
}

@font-face {
	font-family: 'Inter-SemiBold';
	src: url('../lib/Inter-SemiBold.woff');
}

:root {
	--font-header: Inter-Bold;
	--font-body: Inter, sans-serif;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--color-bg-1: rgba(255, 255, 255, 1);
	--color-text: rgba(0, 0, 0, 0.7);
	--color-logo: rgba(0, 0, 0, 1);
	font-family: var(--font-body);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
	color: var(--color-text);
}

h1 {
	font-family: var(--font-header);
}

h2, h3 {
	font-family: Inter-SemiBold;
}

h1,
h2,
p {
	font-weight: 500;
}

p {
	line-height: 1.5;
	margin: 0;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

section {
	transition: background-color 0.5s ease;
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 100px;
	padding-top: 250px;
	padding-bottom: 250px;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
